## Ex 8-3

#### 1. 請建立 B 分店的庫存量 (其中「產品」為索引)：

<br>產品  |  型號<br><br><br>  | 庫存<br><br><br>
:---- |:-----:|------:
洗衣機 | WS400 |  100
電視機 | TV100 |  100
電冰箱 | FR200 |  100
冷氣機 | AC300 |  100


#### 2. 請計算 A 分店 (Ex 8-1) 與 B 分店的總庫存量：
結果：

<br>產品  |  型號<br><br><br>  | 庫存<br><br><br>
:---- |:-----:|------:
洗衣機 | WS400 |  200
電視機 | TV100 |  300
電冰箱 | FR200 |  400
冷氣機 | AC300 |  500

In [4]:
import numpy as np
import pandas as pd

data = {'型號':['WS400', 'TV100', 'FR200', 'AC300' ],
        '庫存':[100, 100, 100, 100]}
dfB = pd.DataFrame(data,
                  index=['洗衣機', '電視機', '電冰箱', '冷氣機'])

dfB.index.name = '產品'

dfB

        型號   庫存
產品
洗衣機  WS400  100
電視機  TV100  100
電冰箱  FR200  100
冷氣機  AC300  100

In [15]:
data = {'型號':['WS400', 'TV100', 'FR200', 'AC300' ],
        '庫存':[100, 200, 300, 400]}
dfA = pd.DataFrame(data,
                  index=['洗衣機', '電視機', '電冰箱', '冷氣機'])

dfA.index.name = '產品'

ans = dfA.copy()

ans['庫存'] = dfA['庫存'] + dfB['庫存']
ans

        型號   庫存
產品
洗衣機  WS400  200
電視機  TV100  300
電冰箱  FR200  400
冷氣機  AC300  500